.container{
    padding: 1rem;
}
.profile{
    padding-right: 1rem;
    color: black;
    text-decoration: none;
}

.profile:hover{
    color: black;
    text-decoration: none;
}
.more{
    display: inline-block !important;
    /* font-size: 50px; */
}

.dropdown{
    display: inline-block;
    background-color: transparent !important;
    border: none;
    color: black;
    background-color: #C04000 !important;
}
.dropdown:focus{
    border: none !important;
    box-shadow: none !important;
}

.icon{
    color: black;
    display: inline-block;
    padding-right: 1rem;
}

.link{
    color: black; 
}

.btn{
    background-color: #7B403B;
    color: white;
    border: brown;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
}
.btn:hover{
    background-color: #C19A6B;
    color: black;
}

.content{
    padding-top: 1rem;
}