.NavBar{
    background-color: #BEADFA;
}
.link{
    color: black !important;
    padding: 2rem 0.5rem 2rem 1rem;
    text-decoration: none !important;
}
.profile{
    color: black;
    padding-top: 1.5rem;
    padding-right: 2rem;
    text-decoration: none;
}
.link:hover{
    color: white !important;
}
.active{
    color: white !important;
}
.logo{
    font-family: 'Bebas Neue', sans-serif !important;
    font-size: 200% !important;
    letter-spacing: 2px !important;
}


