.NavBar{
    padding: 1%;
    background-color: #BEADFA;
}
.link{
    color: black !important;
    padding: 0.5rem 1rem;
    text-decoration: none !important;
}
.link:hover{
    color: white !important;
}
.active{
    color: white !important;
}
.logo{
    font-family: 'Bebas Neue', sans-serif !important;
    font-size: 200% !important;
    letter-spacing: 2px !important;
}
