/* .NavBar{
    background-color: #CB997E;
} */
.link{
    color: black !important;
    padding-top: 1rem;
    padding-right: 0.5rem;
    padding-left: 1rem;
    text-decoration: none !important;
}
.profile{
    color: black;
    padding-top: 0.5rem;
    padding-right: 2rem;
    text-decoration: none;
}

.profile:hover{
    color: black;
    text-decoration: underline !important;
}
.link:hover{
    text-decoration: underline !important;
}
.active{
    text-decoration: underline !important;
}
.logo{
    font-family: 'Sacramento', cursive !important;
    font-size: 400% !important;
    color: #CB997E !important;

}


