.section{
    border: 3px solid #CB997E ;
    border-radius: 5px;
    padding-top: 2rem;
    background-color: white;
    width: 95%;
}

.title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 180%;
    text-align: center;
}

.container{
    border: 2px solid #C04000;
    border-radius: 5px;
    background-color: white;
}

.search{
    width: 96%;
    margin: auto;
}

.search_box{
    padding-bottom: 5%;
}