.post{
    width: 100%;
    border: none;
}

.dots{
    display: inline-block;
    font-size: 50px;
}

.profile{
    padding-right: 5%;
    color: black;
    text-decoration: none;
}

.profile:hover{
    color: black;
    text-decoration: none;
}


.icon{
    color: black;
    display: inline-block;
    padding-right: 1rem;
}

.link{
    color: black;
}



