.post{
    width: 100%;
    border: none;
    padding-top: 2%;
}

.more{
    display: inline-block !important;
    /* font-size: 50px; */
}

.dropdown{
    display: inline-block;
    background-color: transparent !important;
    border: none;
    color: black;
    background-color: #C04000 !important;
}
.dropdown:focus{
    border: none !important;
    box-shadow: none !important;
}

.profile{
    padding-right: 2%;
    color: black;
    text-decoration: none;
}

.profile:hover{
    color: black;
    text-decoration: none;
}


.icon{
    color: black;
    display: inline-block;
    padding-right: 1rem;
}

.link{
    color: black;
}
.link:hover{
    color: black;
}

.image{
    padding-top: 2%;
}
i{
    font-size: x-large;
    padding-right: 0.25rem;
}

