.container{
    background-color: #EDDCD2;
    padding: 10%;
}
.center{
    position: static !important;
    margin: auto;
}

.title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 150%;
    text-align: center;
    letter-spacing: 2px;
}

.input{
    width: 80%;
    margin: auto;
    
}

.link{
    color: black;
}
.link:hover{
    color: brown;
    text-decoration: none;
}

.link_container{
    padding-top: 1rem;
}

.btn{
    background-color: #7B403B;
    color: white;
    border: brown;
}
.btn:hover{
    background-color: #C19A6B;
    color: black;
}
.center{
    text-align: center;
}